@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:100,400&display=swap');


html, body
{
    height: 100%;
    width: 100%;
}

.alt-link{
    margin-top: 22px;
    display: inline-block;
}

.arrow {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1%;
}

.bar-element{
    margin-left: 2%;
    margin-right: 2%;
    padding: 8px 8px;
    text-decoration: none;
}

.bar-element:hover{
    font-weight: 400;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.desc{
    letter-spacing: 1px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

.error-span{
    margin-left: auto;
    margin-right: auto;
    color: #f44336;
}

.info-message{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 60%;
    min-width: 250px;
    max-width: 400px;
    margin-top: 15%;
}

.register-content{
    margin-bottom: 10%;
}

.register-form{
    margin: 0px 15%;
}

.register-input{
    margin: 5px 0px;
}

.register-title{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 400;
    margin-top: 20%;
    margin-left: 15%;
    text-align: left;
}

.right-side{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 100 ;
    height:100% !important;
    min-height: 750px !important;
    background: #3b3b6b;
    color: white;
}

.left-side{
    height:100% !important;
    min-height: 750px !important;
}

.small-icon{
    margin-left: 5px;
    margin-right: 5px;
}

.start-button{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 32px;
    text-decoration: none;
    background-color: #3b3b6b;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #172747 ;
}

.start-button:hover {
    background-color: black;
}

#submit-button {
    float: right;
    margin-top: 10px;
}

#submit-button:after {
    content: "";
    display: block;
    clear: both;
}

.title{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 400;
    margin-top: 30%;
    margin-left: 15%;
    text-align: left;
}

.top-bar {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
}

.welcome-content{
    margin-bottom: 15%;
}










