<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />-->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>photoArchive</title>
</head>
<body>
<div>
    <div class="container">
        <div class="tag-container">
            <input class="tag-input" />
        </div>
    </div>

    <form method="post" th:action="@{/upload-photo-with-url}"  th:object="${photoDTO}" >
        <input type="text" placeholder="url" th:field="*{url}">
        <input class="tag-holder" type="text" placeholder="tags" th:field="*{tagsAsString}">
        <span th:if="${#fields.hasErrors('tagsAsString')}" th:errors="*{tagsAsString}">tu bedzie message</span>
        <input type="submit" value="Add Photo">
    </form><br/><br/>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload-photo-with-file}">
        <input type="file" name="file">
        <input class="tag-holder2" type="text" placeholder="tags" name="tags">
        <input type="submit" value="Add Photo">
    </form>

    <div th:if="${invalidSource.isActive()}">
        <h2 th:text="${invalidSource.getText()}"></h2>
    </div>


</div>
<script th:src="@{script.js}"></script>
</body>
</html>