<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>PhotoARCHive - Image service for architects</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app-style.css}"/>
</head>

<body>
<!-- Side menu on big screen -->
<div th:insert="fragments/app/side-menu :: side-menu"></div>

<!-- Top menu on small screens -->
<div th:insert="fragments/app/top-menu :: top-menu"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:240px;margin-right:40px">

    <div th:insert="fragments/app/user-panel :: user-panel"></div>

    <div th:insert="fragments/app/contact-form :: contact-form"></div>

</div>
<!-- End page content -->

<div th:insert="fragments/app/footer :: footer"></div>

</body>
</html>
