<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins"
  />
    <link rel="stylesheet" type="text/css" href="../static/welcome-page.css" />
    <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Poppins", sans-serif;
    }
    </style>
<body   >

<!-- First Grid: Logo & About -->
<div class="w3-row" style="height: 100%; width: 100%;">
<div class="w3-half w3-red w3-container" style="height:100%;">
    <div class="w3-padding-64 w3-center">
      <img class="logo" src="C:\Users\Asus\Documents\GithubProjects\PhotoARCHive\src\main\resources\static\images\logo.PNG" class="w3-margin" alt="Person">
    </div>
    <div class="w3-padding-16 w3-center">
      <a href="#" class="start-button">GET STARTED !</a>
    </div>
  </div>
  <div class="w3-half w3-container w3-center" style="height:100%; background: #4267b2">
    <div class="w3-padding-64">
      <h1>My Logo</h1>
    </div>

  </div>
  
</div>





</body>
</html>
