<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>PhotoARCHive - Image service for architects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/webpage-style.css}"/>
</head>
<body>

<div class="w3-row" style="height: 100%; width: 100%;">
    <div class="w3-red w3-container left-side">
        <div class="w3-padding-24 w3-center">
            <img class="logo w3-margin" th:src="@{images/logo.PNG}" alt="Person">
        </div>
        <div class="w3-padding-16 w3-center">
            <div class="info-form">

                <h1 class="info-title">Type in your new password.</h1>

                <form method="post" th:action="@{/change}" th:object="${changePasswordDTO}">
                    <div style="width: 100%">
                        <span class="error-span"
                              th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">
                            message
                        </span>
                        <input class="register-input w3-input w3-border"
                               type="text"
                               th:field="*{password}"
                               placeholder="Enter password"
                        />
                        <span class="error-span"
                              th:if="${#fields.hasErrors('matchingPassword')}"
                              th:errors="*{matchingPassword}">
                            message
                        </span>
                        <input class="register-input w3-input w3-border"
                               type="text"
                               th:field="*{matchingPassword}"
                               placeholder="Confirm password"
                        />
                        <input class="w3-button w3-padding-large w3-red" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>