<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PhotoARCHive - Image service for architects</title>
</head>
<body>
<form method="post" th:action="@{/change}" th:object="${changePasswordDTO}">
    <span
            class="error-span"
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}">
                      message
    </span>
    <input
            type="text"
            th:field="*{password}"
            placeholder="Enter password"
    />
    <span
            class="error-span"
            th:if="${#fields.hasErrors('matchingPassword')}"
            th:errors="*{matchingPassword}">
                      message
    </span>
    <input
            type="text"
            th:field="*{matchingPassword}"
            placeholder="Confirm password"
    />
    <input type="submit" value="Save">
</form>

</body>
</html>