<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<title>PhotoARCHive - Image service for architects</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{welcome-page.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
<body>

<!-- First Grid: Logo & About -->
<div class="w3-row" style="height: 100%; width: 100%;">
    <div class="w3-half w3-red w3-container" style="height:100%; min-height: 750px;">
        <div class="w3-padding-64 w3-center">
            <img class="logo w3-margin" th:src="@{images/logo.PNG}" alt="Person">
        </div>
    </div>
    <div class="w3-half w3-container w3-center right-side" style="height:100%; min-height: 750px;">


        <div class="top-bar">

            <a href="#" class="  bar-element">
                HOME
            </a>
            <a href="#" class="  bar-element">
                ABOUT
            </a>
            <a href="#" class=" bar-element">
                CONTACT
            </a>

        </div>

        <div class="register-content">
            <h1 class="register-title">Create New Account.</h1>
            <div class="register-form">
                <div th:if="${userAlreadyExists != null}">
                   <span th:text="${userAlreadyExists}"></span>
                </div>
                <form method="post" th:action="@{/register}" th:object="${userDTO}">
                    <input
                            class="register-input w3-input w3-border"
                            type="text"
                            placeholder="Username"
                            required
                            th:field="*{username}"
                    />
                    <input
                            class="register-input w3-input w3-border"
                            type="text"
                            placeholder="Email"
                            required
                            th:field="*{email}"
                    />
                    <input
                            class="register-input w3-input w3-border"
                            type="text"
                            placeholder="First Name"
                            required
                            th:field="*{firstName}"
                    />
                    <input
                            class="register-input w3-input w3-border"
                            type="text"
                            placeholder="Surname"
                            required
                            th:field="*{surname}"
                    />
                    <input
                            class="register-input w3-input w3-border"
                            type="password"
                            placeholder="Password"
                            required
                            th:field="*{password}"
                    />
                    <input
                            class="register-input w3-input w3-border"
                            type="password"
                            placeholder="Confirm Password"
                            required
                            th:field="*{matchingPassword}"
                    />
                    <div class="alt-link">Have an account already? <a href="/login">Log in here!</a></div>
                    <input
                            id="search-button"
                            class="w3-button w3-padding-large w3-red w3-margin-bottom"
                            type="submit"
                            value="SIGN UP"
                    />
                </form>
            </div>

        </div>
        <footer class="footer">
            <div class="desc">
                photoarchapp@gmail.com
            </div>
            <div class="w3-xlarge w3-section desc">
                <i class="fa fa-facebook-official w3-hover-opacity small-icon"></i>
                <i class="fa fa-instagram w3-hover-opacity small-icon"></i>
                <i class="fa fa-github w3-hover-opacity small-icon"></i>
            </div>
        </footer>

    </div>
</div>
</body>
</html>
