<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="footer">
    <footer class="footer">
        <div class="desc">
            photoarchapp@gmail.com
        </div>
        <div class="w3-xlarge w3-section desc">
            <i class="fa fa-facebook-official w3-hover-opacity small-icon"></i>
            <i class="fa fa-instagram w3-hover-opacity small-icon"></i>
            <i class="fa fa-github w3-hover-opacity small-icon"></i>
        </div>
    </footer>
</div>

</html>