<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="login-form">
    <div class="register-content">
        <h1 class="register-title">Log in.</h1>
        <div class="register-form">
            <div th:if="${message != null }">
                <span th:text="${message}"></span>
            </div>
            <form method="post" th:action="@{/login}">
                <input
                        class="register-input w3-input w3-border"
                        type="text"
                        placeholder="Username"
                        name="username"
                />
                <input
                        class="register-input w3-input w3-border"
                        type="password"
                        placeholder="Password"
                        name="password"
                />
                <div class="alt-link">Have no account yet? <a href="/register">Sign up here!</a></div>
                <div class="alt-link">Forgotten password? <a href="/reset">Click here!</a></div>
                <input
                        id="submit-button"
                        class="w3-button w3-padding-large w3-red w3-margin-bottom"
                        type="submit"
                        value="LOGIN"
                />
            </form>
        </div>
    </div>
</div>


</html>